<link rel="stylesheet" type="text/css" href="/views/com.css"></link>
<div class="container-fluid" id="com" style="position: relative; height: 100vh; width: 100vw">
    <div class="row">
        <div id="top-info" class="top-info"><span id="room-name">room-name</span><span id="room-count">room-count</span><span id="total-count">total-count</span></div>
        <div id="count"></div>
        <div id="l" class="loader"></div>

        <div class="input-bar">
            &nbsp&nbsp>&nbsp&nbsp
            <div class="active" ng-mousedown="routeTo('home');">
                leave
            </div>
            <div class="active">
                send
            </div>
            <input class="input-box" placeholder="Type message here" ng-keypress="keycheck($event)"></input>
        </div>
    </div>
</div>