<link rel="stylesheet" href="views/home.css">
<div class="container-fluid" id="home-global">
    <div class="row">
        <video src="/lib/loop.mp4" autoplay loop="true" ng-mousedown="revertButton()"></video>
        <h1 class="col-sm-12 text-center" id="title">
            <br>
            Context
        </h1>
        <div class="col-sm-12 text-center" id="subtitle">
            Topic chat, reinvigorated
        </div>
        <div class="col-8 col-sm-6 col-md-4 offset-2 offset-sm-3 offset-md-4 text-center" id="button" 
        ng-mouseenter="hover()" ng-mouseleave="leave()">
            <div class="label" ng-mousedown="initial()">Converse</div>
            <div class="slider"></div>
            <input id="room" spellcheck="false" placeholder="Room?" ng-keypress="fromRoom($event)"></input>
            <input id="name" spellcheck="false" placeholder="Pseudonym?" ng-keypress="fromName($event)"></input>
        </div>
        <div class="col-8 col-sm-6 col-md-4 offset-2 offset-sm-3 offset-md-4 text-left" id="activity">
            
        </div>
    </div>
</div>
<div class="container-fluid text-center" id="home-local">
    <div class="row">
        <div id="header" class="col-12">Nearby</div>
        <div class="local-spawn col-12 col-sm-6 col-md-4">
            <div class="block">
                <div class="plus" ng-mousedown="newPostable()">+</div>
                <div class="newPostable">
                    <input spellcheck="false" placeholder="Your new topic"></input>
                    <div class="post">Post</div>
                </div>
            </div>
        </div>
        <div class="local-block col-12 col-sm-6 col-md-4"><div class="block"></div></div>
        <div class="local-block col-12 col-sm-6 col-md-4"><div class="block"></div></div>
        <div class="local-block col-12 col-sm-6 col-md-4"><div class="block"></div></div>
        <div class="local-block col-12 col-sm-6 col-md-4"><div class="block"></div></div>
        <div class="local-block col-12 col-sm-6 col-md-4"><div class="block"></div></div>
    </div>
</div>