#home {
    height: 100vh;
    background-color: red;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 0;
    opacity: 0.7;
}

#title {
    color: white;
    font-family: above;
    font-size: 90px;
    position: relative;
}

#subtitle {
    color: white;
    font-family: above;
    font-size: 25px;
}

#button {
    margin-top: 100px;
    height: 100px;
    font-size: 30px;
    color: white;
    font-family: above;
    border: 5px solid white;
    line-height: 100px;
    position: relative;
    overflow: hidden;
}

#button input {
    position: absolute;
    color: grey;
    font-size: 40px;
    font-family: above;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 0px;
}

#button .slider {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
}

#button .label {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#activity {
    padding-top: 4vh;
    padding-bottom: 4vh;
    font-family: above;
    font-size: 30px;
    color: white;
    overflow-y: auto;
    overflow-x: visible;
    max-height: 30vh;
    margin-top: 120px;
    opacity: 0;
}

.room {
    font-family: above;
}

.count {
    font-family: Courier New, Courier, monospace;
    color: #dfdfdf;
}

@media screen and (min-width: 991px) {
    #title {
        font-size: 120px;
    }
    #subtitle {
        font-size: 30px;
    }
    #button {
        font-size: 40px;
    }
    #button input {
        font-size: 40px;
    }
    #activity {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    #title {
        font-size: 16vw;
    }
    #subtitle {
        font-size: 5vw;
    }
    #button {
        font-size: 20px;
        height: 70px;
        line-height: 70px;
        margin-top: 40px;
    }
    #button input {
        font-size: 20px;
    }
    #activity {
        font-size: 20px;
    }
}

@media screen and (min-aspect-ratio: 16/9) {
    video {
        height: initial;
        width: 100vw;
    }
    #button {
        
    }
}