.ui-text-wrapper {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 100;
    text-align: center;
}

.massive {
    font-size: 10vw;
    width: 100%;
    color: white;
    font-weight: 300;
    text-align: center;
    z-index: 10;
}

.escape-sheet {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: initial;
    width: 100vw;
}

.enter {
    position: relative;
    border: white 5px solid;
    width: 25vw;
    height: 6vw;
    z-index: 10;
    line-height: 6vw;
    font-size: 3vw;
    color: lightgrey;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.label {
    width: 100%; 
    position: absolute; 
    z-index: 4
}

.juice {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 0;
}

.roomwrapper {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.room {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: white;
    outline: none;
    border: none;
    text-align: center;
    font-family: above;
    font-size: 3vw;
    background: transparent;
}

.name {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: white;
    outline: none;
    border: none;
    text-align: center;
    font-family: above;
    font-size: 3vw;
    background: transparent;
}

.namewrapper {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.secondjuice {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 0;
}

.trendPanel {
    position: absolute;
    width: 25vw;
    height: 30vh;
    overflow-y: scroll;
    top: 60%;
    right: -25vw;
    color: white;
    text-align: left;
}

.trend {
    width: 100%;
    padding-top: 5%;
    font-size: 2vw;
    padding-bottom: 5%;
}

#trendbig {
    font-size: 3vw;
}

@media screen and (max-aspect-ratio: 16/9) {
    .video {
        height: 100vh;
        width: initial;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    
}